In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
path = r'/Users/bridget/Downloads/Instacart Basket Analysis 11-2022'
print(path)

/Users/bridget/Downloads/Instacart Basket Analysis 11-2022

In [3]:
df_ords_prods_merged = pd.read_pickle(os.path.join(path, '02 Data','Prepared Data', '/Users/bridget/Downloads/Instacart Basket Analysis 11-2022/02 Data/Prepared Data/orders_products_merged.pkl'))

In [4]:
df_ords_prods_merged.head()

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,Unnamed: 0,product_name,aisle_id,department_id,prices,_merge
0,2539329,1,prior,1,2,8,NaN,196,1,0,195,Soda,77,7,9.0,both
1,2398795,1,prior,2,3,7,15.0,196,1,1,195,Soda,77,7,9.0,both
2,473747,1,prior,3,3,12,21.0,196,1,1,195,Soda,77,7,9.0,both
3,2254736,1,prior,4,4,7,29.0,196,1,1,195,Soda,77,7,9.0,both
4,431534,1,prior,5,4,15,28.0,196,1,1,195,Soda,77,7,9.0,both

In [5]:
# Create subset

df = df_ords_prods_merged[:1000000]

If-Statement using function

In [6]:
def price_label(row):
    
    if row['prices'] <= 5:
        return 'Low-range product'
    elif (row['prices'] > 5) and (row['prices'] <= 15):
        return 'Mid-range product'
    elif row['prices'] > 15:
        return 'High range'
    else: return 'Not enough data'

In [7]:
df['price_range'] = df.apply(price_label, axis=1)

/var/folders/5g/_18sry7d3pq605dzk9125kqm0000gn/T/ipykernel_1033/2848743372.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['price_range'] = df.apply(price_label, axis=1)

In [8]:
df['price_range'].value_counts(dropna = False)

Mid-range product    756450
Low-range product    243550
Name: price_range, dtype: int64

In [9]:
df['prices'].max()

14.8

2. If-Statements with loc() function
   Applying loc() function

In [10]:
df_ords_prods_merged.loc[df_ords_prods_merged['prices'] > 15, 'price_range_loc'] = 'High-range product'

In [11]:
df_ords_prods_merged.loc[(df_ords_prods_merged['prices'] <= 15) & (df_ords_prods_merged['prices'] > 5), 'price_range_loc'] = 'Mid-range product'

In [12]:
df_ords_prods_merged.loc[df_ords_prods_merged['prices'] <= 5, 'price_range_loc'] = 'Low-range product'

In [13]:
df_ords_prods_merged['price_range_loc'].value_counts(dropna = False)

Mid-range product     21860860
Low-range product     10126321
High-range product      417678
Name: price_range_loc, dtype: int64

3. If-Statements with For-Loops

In [14]:
df_ords_prods_merged.rename(columns = {'order_dow' : 'orders_day_of_week'}, inplace = True)

In [15]:
df_ords_prods_merged['orders_day_of_week'].value_counts(dropna = False)

0    6204182
1    5660230
6    4496490
2    4213830
5    4205791
3    3840534
4    3783802
Name: orders_day_of_week, dtype: int64

In [16]:
result = []

In [17]:
for value in df_ords_prods_merged['orders_day_of_week']:
  if value == 0:
    result.append('Busiest day')
  elif value == 4:
    result.append('Least busy')
  else:
    result.append('Regularly busy')

In [18]:
df_ords_prods_merged['busiest_day'] = result

In [19]:
df_ords_prods_merged['busiest_day'].value_counts(dropna = False)

Regularly busy    22416875
Busiest day        6204182
Least busy         3783802
Name: busiest_day, dtype: int64

In [20]:
df_ords_prods_merged.shape

(32404859, 18)

2.  Suppose your clients have changed their minds about the labels you created in your “busiest_day” column. Now, they want “Busiest day” to become “Busiest days” (plural). At the same time, they’d also like to know the two slowest days. Create a new column for this using a suitable method.

In [21]:
df_ords_prods_merged['orders_day_of_week'].value_counts(dropna = False)

0    6204182
1    5660230
6    4496490
2    4213830
5    4205791
3    3840534
4    3783802
Name: orders_day_of_week, dtype: int64

In [22]:
# Create vector where outputs from loop will be stored
result2 = []

In [23]:
# Create loop
for value in df_ords_prods_merged['orders_day_of_week']:
  if value == 0 or value ==1:
    result2.append('Busiest days')
  elif value == 4 or value == 3:
    result2.append('Slowest days')
  else:
    result2.append('Regularly days')

In [24]:
# Create a new column in 'df_ords_prods_merged' named busiest_days
df_ords_prods_merged['busiest_days'] = result2

In [25]:
df_ords_prods_merged.head()

,order_id,user_id,eval_set,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,Unnamed: 0,product_name,aisle_id,department_id,prices,_merge,price_range_loc,busiest_day,busiest_days
0,2539329,1,prior,1,2,8,NaN,196,1,0,195,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regularly days
1,2398795,1,prior,2,3,7,15.0,196,1,1,195,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Slowest days
2,473747,1,prior,3,3,12,21.0,196,1,1,195,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Slowest days
3,2254736,1,prior,4,4,7,29.0,196,1,1,195,Soda,77,7,9.0,both,Mid-range product,Least busy,Slowest days
4,431534,1,prior,5,4,15,28.0,196,1,1,195,Soda,77,7,9.0,both,Mid-range product,Least busy,Slowest days

In [26]:
# Check value counts
df_ords_prods_merged['busiest_days'].value_counts(dropna = False)

Regularly days    12916111
Busiest days      11864412
Slowest days       7624336
Name: busiest_days, dtype: int64

In [53]:
len(result)

32404859

In [54]:
df_ords_prods_merged.shape

(32404859, 20)

4. When too many users make Instacart orders at the same time, the app freezes. The senior technical officer at Instacart wants you to identify the busiest hours of the day. Rather than by hour, they want periods of time labeled “Most orders,” “Average orders,” and “Fewest orders.” Create a new column containing these labels called “busiest_period_of_day.”

In [55]:
# Create a dataframe with the count of values for the column 'order_hour_of_day'
counts = df_ords_prods_merged['order_hour_of_day'].value_counts().rename_axis('hour').reset_index(name='counts')

In [56]:
counts

    hour   counts
0     10  2761760
1     11  2736140
2     14  2689136
3     15  2662144
4     13  2660954
5     12  2618532
6     16  2535202
7      9  2454203
8     17  2087654
9      8  1718118
10    18  1636502
11    19  1258305
12    20   976156
13     7   891054
14    21   795637
15    22   634225
16    23   402316
17     6   290493
18     0   218769
19     1   115700
20     5    87961
21     2    69375
22     4    53242
23     3    51281

In [57]:
labeling_counts = df_ords_prods_merged['orders_day_of_week'].value_counts(dropna = False)

In [58]:
labeling_counts

0    6204182
1    5660230
6    4496490
2    4213830
5    4205791
3    3840534
4    3783802
Name: orders_day_of_week, dtype: int64

In [59]:
labeling_counts.index

Int64Index([0, 1, 6, 2, 5, 3, 4], dtype='int64')

In [60]:
day_number = list(labeling_counts.index)

In [61]:
day_number

[0, 1, 6, 2, 5, 3, 4]

In [62]:
# Create a list showing the percentiles for the value counts of the column 'order_hour_of_day'
orders = list(df_ords_prods_merged['order_hour_of_day'].value_counts().quantile([0.25, 0.5, 0.75]))

In [63]:
orders

[272562.0, 1117230.5, 2556034.5]

Group into Most, Average and Fewest orders by percentiles

In [64]:
# Fewest orders list
few_ords = list(counts.loc[counts['counts'] <= orders[0]]['hour'])

In [65]:
# Average orders list
avg_ords = list(counts[(counts['counts'] > orders[0]) & (counts['counts'] < orders[2])]['hour'])

In [66]:
# Most orders list
mos_ords = list(counts.loc[counts['counts'] >= orders[2]]['hour'])

In [67]:
index_few_ords = df_ords_prods_merged['order_hour_of_day'].isin(few_ords)

In [68]:
index_avg_ords = df_ords_prods_merged['order_hour_of_day'].isin(avg_ords)

In [69]:
index_mos_ords = df_ords_prods_merged['order_hour_of_day'].isin(mos_ords)

Create a new column containing labels called “busiest_period_of_day"

In [70]:
df_ords_prods_merged.loc[index_few_ords,'busiest_period_of_day'] = 'Fewest orders'

In [71]:
df_ords_prods_merged.loc[index_avg_ords,'busiest_period_of_day'] = 'Average orders'

In [72]:
df_ords_prods_merged.loc[index_mos_ords,'busiest_period_of_day'] = 'Most orders'

In [77]:
df_ords_prods_merged.head(5)

,order_id,user_id,eval_set,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,Unnamed: 0,product_name,aisle_id,department_id,prices,_merge,price_range_loc,busiest_day,busiest_days,busiest_period_of_day
0,2539329,1,prior,1,2,8,NaN,196,1,0,195,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regularly days,Average orders
1,2398795,1,prior,2,3,7,15.0,196,1,1,195,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Slowest days,Average orders
2,473747,1,prior,3,3,12,21.0,196,1,1,195,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Slowest days,Most orders
3,2254736,1,prior,4,4,7,29.0,196,1,1,195,Soda,77,7,9.0,both,Mid-range product,Least busy,Slowest days,Average orders
4,431534,1,prior,5,4,15,28.0,196,1,1,195,Soda,77,7,9.0,both,Mid-range product,Least busy,Slowest days,Most orders

In [78]:
df_ords_prods_merged.drop(columns = ['eval_set'])

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,Unnamed: 0,product_name,aisle_id,department_id,prices,_merge,price_range_loc,busiest_day,busiest_days,busiest_period_of_day
0,2539329,1,1,2,8,NaN,196,1,0,195,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regularly days,Average orders
1,2398795,1,2,3,7,15.0,196,1,1,195,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Slowest days,Average orders
2,473747,1,3,3,12,21.0,196,1,1,195,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Slowest days,Most orders
3,2254736,1,4,4,7,29.0,196,1,1,195,Soda,77,7,9.0,both,Mid-range product,Least busy,Slowest days,Average orders
4,431534,1,5,4,15,28.0,196,1,1,195,Soda,77,7,9.0,both,Mid-range product,Least busy,Slowest days,Most orders
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32404854,1320836,202557,17,2,15,1.0,43553,2,1,43557,Orange Energy Shots,64,7,3.7,both,Low-range product,Regularly busy,Regularly days,Most orders
32404855,31526,202557,18,5,11,3.0,43553,2,1,43557,Orange Energy Shots,64,7,3.7,both,Low-range product,Regularly busy,Regularly days,Most orders
32404856,758936,203436,1,2,7,NaN,42338,4,0,42342,"Zucchini Chips, Pesto",50,19,6.9,both,Mid-range product,Regularly busy,Regularly days,Average orders
32404857,2745165,203436,2,3,5,15.0,42338,16,1,42342,"Zucchini Chips, Pesto",50,19,6.9,both,Mid-range product,Regularly busy,Slowest days,Fewest orders
32404858,3093936,205420,1,4,14,NaN,28818,8,0,28820,Hot Oatmeal Multigrain Raisin,130,14,10.3,both,Mid-range product,Least busy,Slowest days,Most orders

In [79]:
df_ords_prods_merged.shape

(32404859, 20)

In [80]:
# Converting frequency into dictionary
dict_labeling_counts = df_ords_prods_merged['order_hour_of_day'].value_counts(dropna = False).to_dict()

In [81]:
# Checking frequency dictionary
dict_labeling_counts

{10: 2761760,
 11: 2736140,
 14: 2689136,
 15: 2662144,
 13: 2660954,
 12: 2618532,
 16: 2535202,
 9: 2454203,
 17: 2087654,
 8: 1718118,
 18: 1636502,
 19: 1258305,
 20: 976156,
 7: 891054,
 21: 795637,
 22: 634225,
 23: 402316,
 6: 290493,
 0: 218769,
 1: 115700,
 5: 87961,
 2: 69375,
 4: 53242,
 3: 51281}

In [82]:
list_quantile = list(df_ords_prods_merged['order_hour_of_day'].value_counts(dropna = False).quantile([0.75, 0.5, 0.25]))

In [83]:
list_quantile

[2556034.5, 1117230.5, 272562.0]

In [84]:
results_labeling_hour = []

In [85]:
for value in df_ords_prods_merged['order_hour_of_day']:
    for key, val in dict_labeling_counts.items():
        if value == key:
            if val < list_quantile[2]:
                results_labeling_hour.append('Fewest orders')
            elif val >= list_quantile[2] and val < list_quantile[1]:
                results_labeling_hour.append('Average orders')
            elif val >= list_quantile[1]:
                results_labeling_hour.append('Most orders')

In [86]:
# Function to check the list before merging it with the DataFrame
def labeling_result (x):
    most_orders = x.count('Most orders')
    average_orders = x.count('Average orders')
    fewest_orders = x.count('Fewest orders')
    
    print(f'Most orders: {most_orders}')
    print(f'Average orders: {average_orders}')
    print(f'Fewest orders: {fewest_orders}')
    print(f'Total: {most_orders + average_orders + fewest_orders}')

In [87]:
# Checking the grouping process through nested loop.
labeling_result(results_labeling_hour)

Most orders: 27818650
Average orders: 3989881
Fewest orders: 596328
Total: 32404859

In [88]:
df_ords_prods_merged['order_hour_of_day'].shape

(32404859,)

In [89]:
df_ords_prods_merged['busiest_period_of_day'] = results_labeling_hour

In [90]:
df_ords_prods_merged['busiest_period_of_day'].value_counts(dropna = False)

Most orders       27818650
Average orders     3989881
Fewest orders       596328
Name: busiest_period_of_day, dtype: int64

In [91]:
# Export to PKL
df_ords_prods_merged.to_pickle('orders_products_merged_update.pkl')